/* Definindo fontes */
@font-face {
    font-family: "unbounded";
    src: url("../fonts/Unbounded-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* Reset margens */
* {
    margin: 0;  
    padding: 0;
/* Definindo estilo desktop */
}    
header img{
    display: block;
    margin: 75px 0 0 360px; 
}

body {
    background-color: #0E1014;
    color:  #FFFFFF;
}

h1 span {
    color: #9747ff;
}
h1 {
    font-family: "unbounded", sans-serif;
    font-size: 64px;
    text-align: center;
    margin-top: 60px;
}

a {
    color: #FFFFFF;
    font-family: "poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747ff;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto 40px auto;
}

a:hover {
    background-color: #8233E8;
}

p {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}   

section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

/* Definindo estilo tablet */
@media (max-width: 768px) {
    header img{
        margin: 65px 0 0 60px;

    }

    }
    p {
        width: 648px;

}

/* Definindo estilo mobile */
@media (max-width: 375px) {
    header img{
        margin: 32px 0 0 16px;

    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        width: 340px;
    }
    a {
        font-size: 20px;
        width: 251px;
    }
    section img {
        width: 340px;
        height: 230px;
    }
   
}